<app-header [title]="'Flashcards'" [showSearch]="true" [showLogout]="true"></app-header>

<div class="container">
  <div class="content">
    <div class="tile-container">
      <div class="tile">
        <img src="https://placekitten.com/300/200" alt="Opis obrazka">
        <h2>Tytuł Kafelka</h2>
        <p>Opis kafelka drobdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddnym drukiem</p>
      </div>
      <div class="tile">
        <img src="https://placekitten.com/300/200" alt="Opis obrazka">
        <h2>Tytuł Kafelka</h2>
        <p>Opis kafelka drobdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddnym drukiem</p>
      </div>
      <div class="tile">
        <img src="https://placekitten.com/300/200" alt="Opis obrazka">
        <h2>Tytuł Kafelka</h2>
        <p>Opis kafelka drobdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddnym drukiem</p>
      </div>
      <div class="tile">
        <img src="https://placekitten.com/300/200" alt="Opis obrazka">
        <h2>Tytuł Kafelka</h2>
        <p>Opis kafelka drobdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddnym drukiem</p>
      </div>
      <div class="tile">
        <img src="https://placekitten.com/300/200" alt="Opis obrazka">
        <h2>Tytuł Kafelka</h2>
        <p>Opis kafelka drobdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddnym drukiem</p>
      </div>
      <div class="tile">
        <img src="https://placekitten.com/300/200" alt="Opis obrazka">
        <h2>Tytuł Kafelka</h2>
        <p>Opis kafelka drobdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddnym drukiem</p>
      </div>

      <!-- Dodaj więcej kafelków tutaj -->

    </div>
  </div>


</div>
